
.table-header{
    top: 20px;
    background-color: rgb(241, 213, 213);
    padding-bottom: 1px;
    height: 200px;
    border-radius: 6px;
}
.tittle-artnc h1 {
    padding-top: 60px;
    margin-left: 60px;
    font-size: 35px;
    color: red;
}
.tittle-artnc h1 span{
    padding-top: 40px;
    font-size: 20px;
    color: #000;
}
.table-header a{
    margin-top: 10px;
    font-family: chiller;
    margin-right: 20px;
    float: right;
    font-size: 30px;
}.table-header table{
    float: right;
    margin-right: 70px;
}
.table-header input[type='search']{
    font-size: 13px;
    padding: 6px;
    width: 170px;
    height: 30px;
}
.table-header input[type='submit']{
    background-color: blue;
    color: white;
    font-size: 17px;
    padding: 3px;
    width: 80px;
    height: 30px;
}
.table-header input[type='submit']:hover{
    background-color: green;
    cursor: pointer;  
}
table input[type='text']{
   
    font-size: 17px;
    padding: 3px;
    width: 200px;
    height: 25px;
}table input[type='password']{
   
    font-size: 17px;
    padding: 3px;
    width: 200px;
    height: 25px;
}
table input[type='submit']{
    background-color: blue;
    color: white;
    font-size: 17px;
    padding: 3px;
    width: 80px;
    height: 35px;
}
table input[type='submit']:hover{
    background-color: green;
    cursor: pointer;
}
.about{
    margin-top: 20px;
	bottom: 30px;
	right: 30px;
	background: black;
	padding: 20px;
    color:white;
    font-size: 17px;
	max-width: 80%;
    margin-left: 50px;
    border-radius: 5px;
}
.type-of-art{
    background-color: rgb(92, 83, 83);
}
.art-type{
    float:left;
    padding: 10px;
    padding-top: 40px;
    text-align: center;
    width: 200px;
    height: 100px;
    margin-left:30px;
    padding-bottom: 70px;
    }
    .art-type b{
        font-size: 30px;
    }
    .login-section{
        margin-left: 40px;
        padding: 30px;
    }
    .login-section td{
        padding: 10px;
    }
    .login-section td label{
        font-size: 30px;
    }
    #menu-box{
        font-size: 40px;
        margin-left: 10px;
        padding-top: 1px;
        padding-bottom: 0px;
    }
    #menu-box:hover{
        cursor: pointer;
    }


    .content{
        margin-left: 60px;
    }
    .content p img{
        border-radius: 40px;
    }
    .content p{
        font-size: 30px;
        margin: 0;
        padding: 0;
        font-weight: bold;
    }
    .content input{
        width: 250px;
        margin-bottom:5px;
    }
    .content input[type="text"],[type="password"]
    {
        border-bottom: 1px solid rgb(22, 20, 20);
        background: transparent;
        outline: none;
        height: 25px;
        color: black;
        background-color: cornsilk;
        font-size: 14px;
    }
    .content input[type="Submit"]
    {
        border: 1px solid black;
        outline: none;
        padding: 4px 2px;
        height: 30px;
        width: 100px;
        background: white;
        color: black;
        font-size: 18px;
    }
    .profile input[type="Submit"]
    {
        border: none;
        outline: none;
        height: 30px;
        border-radius: 5px;
        width: 100px;
        background: white;
        color:white;
        font-size: 18px;
    }
    .content input[type="file"]
    {
       
        height: 30px;
        border-radius: 5px;
        background: rgb(235, 226, 226);
        color:rgb(10, 10, 10);
        font-size: 18px;
    }
    .content input[type="Submit"]:hover
    {
        cursor: pointer;
        background: green;
        color: white;
    }.image-cart{
        border-left: #000 3px solid;
        border-radius: 6px;
        font-size: 20px;
        width: 80%;
        padding: 15px;
    }


    .container {
        position: relative;
        background-color: white;
        border-radius:3px;
        text-align: left;
        color: black;
        padding:6px;
        border-radius: 0.25rem !important;
        float: left;
        margin: 4px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
      }
      .bottom-left {
        position: absolute;
        bottom: 5px;
        left: 12px;
      }
      .top-left {
        position: absolute;
        top: 5px;
        left: 12px;
      }
      .bottom-right {
        padding:5px;
        position: absolute;
        border-radius:4px;
        bottom: 20px;
        width:40%;
        right: 12px;
        padding: auto;
      }
      .bottom-right:hover{
        background-color: white;
        cursor: pointer;
      
      }
      .bottom-right b{
        padding-bottom:4px;
      }
      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .art-upload {
        width: 70%;
        margin:20px;
        padding: 20px;
        font-size: 17px;
        box-sizing: content-box;
        border-radius: 2px;
      }
      .art-upload label{
        font-size: 20px;
        padding: 4px;
      }
      .art-upload input[type="file"],[type="text"],[type="number"]
      {
          height: 30px;
          border-radius: 2px;
          background: rgb(235, 226, 226);
          color:rgb(10, 10, 10);
          font-size: 18px;
      }
      .art-upload select
      {
          height: 30px;
          border-radius: 2px;
          background: rgb(235, 226, 226);
          color:rgb(10, 10, 10);
          font-size: 18px;
      }
      .art-upload textarea
      {
          height: 70px;
          border-radius: 2px;
          background: rgb(235, 226, 226);
          color:rgb(10, 10, 10);
          font-size: 18px;
      }
      .navbar-brand text-danger:hover{
        background-color:blue;

      }
      
    
    